@font-face {
    font-family: sunsetFont;
    src: url(../video/Championship.ttf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.central {
    background: rgba(255, 255, 255, 0.15);
    width: 500px;
    height: 250px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.685);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.central span {
    color: rgb(68, 0, 0);
    font-family: sunsetFont;
    font-size: 50px;

}

.central #real {
    /* width: 300px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 25rpx; */
    border-radius: 5px;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.568);
    padding: 5px;
}

.central #botao {
    background: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.central #botao:hover {
    color: rgb(148, 36, 36);
}

.central #resultado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}

/* .central h1 {
    color: rgb(56, 8, 0);
    font-family: sunsetFont;
    font-size: 30px;
} */
